{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau channel{% endblock %}

{% block body %}
<div class="container">
    <h2>Créer un nouveau channel</h2>
    <br>
    {{form_start(createChannelForm)}}
    <div class="form-group">
        {{ form_row(createChannelForm.name, {"label":"Nom : ", "attr":{"placeholder":"", "class":"form-control"}}) }}
    </div>
    <br>
    <button type="submit" class="btn btn-lg btn-primary"><i class="fa-solid fa-plus"></i> Ajouter le channel</button>
    {{form_end(createChannelForm)}}
</div>
{% endblock %}